# Executables
*.exe
*.out
*.app
*
!/**/
!*.*

# Project files
output.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dSYM/
main

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Temporary files
~*
*.tmp
*.swo
*.swp
*~

# Mac
.DS_Store:
